.main-content {}

.breadcrumb {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-special {
    background-color: white;
    box-shadow: 5, 5, 1;
}

.search {
    border-radius: 15px;
}

.glyphicon-search {
    border-radius: 15px;
    width: 40px;
    background-color: white;
    color: black;
    margin: 0px;
}

#links-list {
    width: 400px;
    float: left;
    
}




